# Core backend
fastapi
uvicorn[standard]
pydantic
python-dotenv
PyJWT
passlib[bcrypt]
bcrypt
python-multipart
email-validator
motor
httpx
pymongo
pillow

# Data / ML utilities
pandas
scikit-learn
numpy
joblib

# Deep learning / CV
torch
tensorflow
mediapipe
protobuf
fer
dlib-binary
opencv-python-headless
opencv-python
moviepy
librosa==0.10.1
soundfile
sklearn
whisper
matplotlib
tqdm
